registry=https://artifactory.youcruit.com/artifactory/api/npm/npm/
@youcruit:registry=https://artifactory.youcruit.com/artifactory/api/npm/npm/
_auth = ${NPM_ARTIFACTORY_AUTH}
always-auth = true
email = ${NPM_ARTIFACTORY_EMAIL}
